{%include 'publicheader.html'%}
<form method="post" style="background: #383b70;">
	<table align="center">
		<h1 align="center" style="color: white;"><u>Login</u></h1>
		<tr>
			<th>User Name:</th>
			<td><input type="text" name="uname"></td>
		</tr>
		<tr>
			<th>Password:</th>
			<td><input type="Password" name="password"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name="submit" value="Login"></td></tr>
			<!-- <tr><td align="center" colspan="2"><input type="submit" name="register" value="Register"> -->
		</td>
	</tr>
	</table>
</form>
{% include 'footer.html'%}